<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EventosApp</title>
</head>
<body>
    <h1>Cadastro de Eventos</h1>
    <form method="post">
      <label for="Nome"></label>
      <input type="text" name="nome" id="nome">
     
      <label for="Local"></label>
      <input type="text" name="local" id="local">
     
      <label for="Data"></label>
      <input type="date" name="data" id="data">
     
      <label for="Horario"></label>
      <input type="text" name="horario" id="horario">

      <button type="submit">Salvar</button>
    </form>
</body>
</html>